.footerContainer {
    width: 100%;
    height: 133px;
    background-color: rgb(230, 223, 212);
    border: 1px solid rgb(184, 182, 179);
    margin-top: 32px;
}

.footerItemsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    height: 100%;
    padding: 0 30px;
}

.footerIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerTextContainer {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.footerTitle {
    margin: 0;
    font-size: 18px;
    color: rgba(28, 1, 1);
}

.footerDescription {
    margin: 0;
    font-size: 13px;
    color: rgba(118, 97, 99);
}
