.headerContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(159, 216, 246, 0.603);
}

.headerText {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    font-size: 25px;
    color:#ffebcd;
}