.headerContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(159, 216, 246, 0.603);
    height: 42px;
    align-items: center;
    gap: 8px;
}

.headerText {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 16px;
    color: rgba(118, 97, 99);
}

.icon {
    height: 124px;
}