.headerContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(230, 223, 212);
    height: 65px;
    align-items: center;
    gap: 8px;
    border: 1px solid   rgb(184, 182, 179);
    margin-bottom: 30px;
}

.headerText {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 16px;
    color: rgba(28, 1, 1);
}

.icon {
    height: 124px;
    background-color: blue;
}